      <tr bgcolor="" class="piso_cabecera">
	  	<td height="1"  width="20%" style="border-bottom-color:#636363; border-bottom-style:solid; border-bottom-width:1px" ><span class="texto_cabecera">&nbsp;</span></td>
	  	<td  width="14%" height="1" bordercolor="#636363" class="cuadro_cabecera" ><div align="center" class="cabeza"><a href="manual/manualArcV2.doc" target="_new" class="texto_cabecera">Manual</a></div></td>
	  	<td height="1"  width="23%" class="cuadro_cabecera" ><div align="center" class="cabeza"><a href="cmbpwd.asp" class="texto_cabecera">Cambio de contraseņa</a></div></td>
	  	<td height="1"  width="16%" class="cuadro_cabecera" ><div align="center" class="cabeza"><a href="index.asp?close=1"  class="texto_cabecera" >Salir</a></div></td>
	  	<td height="1"  width="1%" style="border-bottom-color:#636363; border-bottom-style:solid; border-bottom-width:1px" ><span class="texto_cabecera">&nbsp;</span></td>
        <td height="1"  width="26%" class="texto" style="border-bottom-color:#636363; border-bottom-style:solid; border-bottom-width:1px" align="right"><script>document.write(laFecha());</script></td>
      </tr> 
