      <tr bgcolor="" class="piso_cabecera">
	  	<td height="1"  width="20%" style="border-bottom-color:#636363; border-bottom-style:solid; border-bottom-width:1px" ><span class="texto_cabecera">&nbsp;</span></td>
	  	<td  width="14%" height="1" bordercolor="#636363" class="cuadro_cabecera" ><div align="center" class="texto_cabecera">Telefonia</div></td>
	  	<td height="1"  width="23%" class="cuadro_cabecera" ><div align="center" class="texto_cabecera">Moviles</div></td>
	  	<td height="1"  width="16%" class="cuadro_cabecera" ><div align="center" class="texto_cabecera">Internet</div></td>
	  	<td height="1"  width="15%"  class="cuadro_cabecera"><div align="center" class="texto_cabecera">Datos</div></td>
        <td height="1"  width="12%" class="texto" style="border-bottom-color:#636363; border-bottom-style:solid; border-bottom-width:1px" align="right"><span class="texto_cabecera">&nbsp;</span></td>
      </tr> 
