.titulocajitas
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #005baa;
    TEXT-DECORATION: none
}
.opcionmenu
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.opcionmenu A
{
    COLOR: #666666;
    TEXT-DECORATION: none
}
.opcionmenu A:hover
{
    COLOR: #666666;
    TEXT-DECORATION: none
}
.tablamenu
{
    BORDER-LEFT-COLOR: #ffffff;
    BORDER-BOTTOM-COLOR: #ffffff;
    BORDER-TOP-COLOR: #ffffff;
    BACKGROUND-COLOR: #000000;
    BORDER-RIGHT-COLOR: #ffffff
}
.tituloblanco
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #005baa;
    TEXT-ALIGN: center
}
.tituloblanco A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #6699cc;
    TEXT-DECORATION: none
}
.texto
{
    FONT-SIZE: 10px;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.texto_rojo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ff0000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.texto_verde
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #339933;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textonegrita
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textoformulario
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    VISIBILITY: inherit;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #e7e7e7
}
.textoformulario A
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
.textoformulario A:hover
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
.piso_cabecera
{
    BORDER-BOTTOM: #636363 1px solid
}
.cuadro_cabecera
{
    BORDER-RIGHT: #636363 1px solid;
    BORDER-TOP: #636363 1px solid;
    BORDER-LEFT: #636363 1px solid;
    BORDER-BOTTOM: #636363 1px solid;
    TEXT-ALIGN: center
}
.texto_cabecera
{
    FONT-SIZE: 11px;
    COLOR: #636363;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.texto_cabecera A
{
    COLOR: #666666;
    TEXT-DECORATION: none
}
.texto_cabecera A:hover
{
    COLOR: #666666;
    TEXT-DECORATION: none
}
.titulo_subgrupo
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #93b7db
}
.prueba
{
    OVERFLOW: auto
}
.divescondido
{
    VISIBILITY: hidden;
    POSITION: relative
}
.divvisible
{
    VISIBILITY: visible
}
.bordetabla
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    MARGIN: 0px 1px 1px;
    BORDER-LEFT: gray 1px solid;
    BORDER-BOTTOM: gray 1px solid
}
.textoformulariocentrado {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	VISIBILITY: inherit;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #e7e7e7;
	text-align: center;
}
#DET_ORD {
	background-color: #000000;
}
.tabla_borde_negro {
	border: 1px solid #000000;
}
.textonegritaFB {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}
.textoformularioRes {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	VISIBILITY: inherit;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #e7e7e7;
	color: #CC6633;
}
.textoformularioFalta {

    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    VISIBILITY: inherit;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #CECD93
}
